doctype html
html(lang='zh-cmn-Hans',ng-app='spy',ng-controller='html')
  head(ng-controller='head')
    meta(charset='UTF-8')
    meta(name='author',content='Abel[i@iue.me]')
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title(ng-bind='title')
    link(rel='stylesheet',href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet',href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet',href='/src/css/angular-toastr.css')
    link(rel='stylesheet',href='/angular-loading-bar/build/loading-bar.min.css')
    link(rel='stylesheet',href='/ngDialog/css/ngDialog.min.css')
    link(rel='stylesheet',href='/ngDialog/css/ngDialog-theme-default.css')
    link(rel='stylesheet',href='/animate.css/animate.min.css')
    link(rel='stylesheet',href='/src/css/emoji.css')
    link(rel='stylesheet',href='/src/css/spy-ui.css')
    link(rel='stylesheet',href='/src/css/style.css')
    link(rel='stylesheet',href='/src/css/responsive.css')
    script(src='/angular/angular.min.js')
    script(src='/angular-sanitize/angular-sanitize.min.js')
    script(src='/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='/src/js/module/angular-toastr.js')
    script(src='/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/angular-animate/angular-animate.min.js')
    script(src='/angular-bootstrap-checkbox/angular-bootstrap-checkbox.js')
    script(src='/angular-loading-bar/build/loading-bar.min.js')
    script(src='/ngDialog/js/ngDialog.min.js')
    script(src='/src/js/emoji.js')
    script(src='/src/js/module/ispy.js')
    script(src='/src/js/spy.js')
    script(src='/src/js/controller/html.js')
    script(src='/src/js/controller/head.js')
    script(src='/src/js/controller/body.js')
    script(src='/src/js/controller/header.js')
    script(src='/src/js/controller/me.js')
    script(src='/src/js/controller/user.js')
    script(src='/src/js/controller/register.js')
    script(src='/src/js/controller/user.index.js')
  body.i-scope(ng-controller='body')
    header.i-header(ng-controller='header')
      .i-layout.i-header-inner
        h1.i-logo
          img(ng-src='{{logoPath}}')
        .i-header-expand.row
          nav.i-nav.col-sm-9
            a(ui-sref-active='active',ui-sref='index')
              span.i-transition 首页
            a(ui-sref-active='active',ui-sref='reasoning')
              span.i-transition 推理
            a(ui-sref-active='active',ui-sref='case')
              span.i-transition 案件
            a(ui-sref-active='active',ui-sref='word')
              span.i-transition 词条
            a(ui-sref-active='active',ui-sref='group')
              span.i-transition 小组
            a(ui-sref-active='active',ui-sref='user.index')
              span.i-transition 用户
          .i-me.col-sm-3(ng-controller='me')
            .i-me-inner(class='#{session.uid ? "has-logged" : ""}')
              if !session.uid
                a(href='javascript:;',ng-click='login()') 登录
                span.i-line
                a(ui-sref='register') 注册
              else
                span.i-air(ng-init='load();')
                img.i-me-avatar.i-transition(q-image='#{session.uid}',q-image-style='small',q-image-scope='spyavatarcdn')
                a.i-me-name(ui-sref='user.index({uid: #{session.uid}})',ng-bind='nickname')
                i.arrow.fa.fa-angle-down.i-transition
                .i-me-expand.i-transition
                  dl.i-me-item.clearfix
                    dt.i-me-key 经验
                    dd.i-me-val.progress.progress-striped.active(tooltip='已有经验 {{points.has}}，升级需要 {{points.upgrade}}')
                      .progress-bar(role='progressbar',aria-valuenow='{{points.per}}',aria-valuemin='0',aria-valuemax='100',ng-style='points.style')
                        span.sr-only ({{points.has}}/{{points.upgrade}})
                  dl.i-me-item.clearfix
                    dt.i-me-key 等级
                    dd.i-me-val {{grade}}
                  dl.i-me-item.clearfix
                    dt.i-me-key 探币
                    dd.i-me-val {{balance}} 枚
                  dl.i-me-item
                    dd.i-me-val.full
                      a(ui-sref='user.message',tooltip='查看消息')
                        i.fa.fa-envelope-o
                        span 消息
                        span.i-air
                      a(ui-sref='user.option',tooltip='更改个人设置')
                        i.fa.fa-wrench
                        span 设置
                      a(ui-sref='user.logout',tooltip='注销账号')
                        i.fa.fa-sign-out
                        span 退出
    section.i-section(ui-view='main')
    footer.i-footer
      p.i-footer-line
        a(ui-sref="index") 贝壳首页
        span.i-line.black
        a(ui-sref="doc.state") 免责申明
        span.i-line.black
        a(ui-sref="doc.faq") 常见问题
        span.i-line.black
        a(ui-sref="doc.teamwork") 站务合作
        span.i-line.black
        a(ui-sref="doc.proposal") 意见建议
        span.i-line.black
        a(ui-sref="doc.proposal") 用户协议
      p.i-footer-line
        span CopyRight &copy; 2014
        a(ui-sref="/team") IUE Team.
        span All rights reserved.
script(type='text/javascript').
  window.spyGlobal = {sessionUid: #{session.uid}};