.u-i-tl-item
  .u-i-tl-arrow
    .u-i-tl-arrow-inner
  .u-i-tl-round(tooltip="{{date|date:'yyyy-MM-dd HH:mm:ss'}}")
  .u-i-tl-box.i-box
    .u-i-tl-head.clearfix
      .u-i-tl-avatar.pull-left
        img.i-avatar(q-image='{{uid}}',q-image-style='small',q-image-scope='spyavatarcdn')
      .u-i-tl-info.pull-left
        p.u-i-tl-nickname
          a(ui-sref='user.index({uid: {{uid}}})',ng-bind='nickname|nickname')
        p.u-i-tl-meta
          span(ng-bind="dateFormat")
    .u-i-tl-content(ng-bind-html="content|phizContent")
    .u-i-tl-footer.clearfix
      .u-i-tl-footer-ctrl
        .i-btn-item(tooltip="评论：{{commentCount}} 条",tooltip-append-to-body="true")
          i.fa.fa-comments-o
          span(ng-bind="commentCount")
        .i-btn-item(tooltip="{{thumbsTip}}",tooltip-append-to-body="true",ng-click="thumbClick();")
          i.fa(ng-class="{'fa-thumbs-o-up': !isThumb, 'fa-thumbs-up': isThumb}")
          span(ng-bind="thumbsCount")
      .u-i-tl-footer-comments(ng-show="commentCount")
        .ui-mini-comment.clearfix(ng-repeat="comment in comments")
          .ui-mini-comment-avatar.pull-left
            img.i-avatar(q-image='{{comment.author}}',q-image-style='small',q-image-scope='spyavatarcdn')
          .ui-mini-comment-content.pull-left
            a.ui-mini-comment-name(ng-bind="comment.nickname",ui-sref='user.index({uid:{{comment.author}}})')
            span.ui-mini-comment-colon :
            span(ng-bind="comment.content")
            .ui-mini-comment-stamp
              span.ui-mini-comment-date(ng-bind="comment.dateFormat")
              a.ui-mini-comment-btn(href="javascript:;",reply="{url: '/act/user/replyDynamic', name: '{{comment.nickname}}', author: {{comment.author}}, reply: {{comment.id}}}",reply-placement="leftbottom") 回复
              a.ui-mini-comment-btn.ui-comment-remove-btn(href="javascript:;") 删除
          .ui-mini-comment.ui-mini-sub-comment(ng-repeat="subComment in comment.subComments")
            a.ui-mini-comment-avatar(usercard="{{subComment.author}}",usercard-trigger="click")
              img(ng-src="{{subComment.avatar._32}}")
            .ui-mini-comment-content
              a.ui-mini-comment-name(ng-bind="subComment.nickname",usercard="{{subComment.author}}",usercard-trigger="click")
              span.ui-mini-comment-colon :
              span(ng-bind="subComment.content")
              .ui-mini-comment-stamp
                span.ui-mini-comment-date(ng-bind="subComment.dateFormat")
                a.ui-mini-comment-btn(href="javascript:;",reply="{url: '/act/user/replyDynamic', name: '{{subComment.nickname}}', author: {{subComment.author}}, reply: {{subComment.id}}}",reply-placement="leftbottom") 回复
                a.ui-mini-comment-btn.ui-comment-remove-btn(href="javascript:;") 删除
      .u-i-add-comment
        .u-i-add-comment-body
          textarea.form-control.u-i-reply-ipt(placeholder="评论也可以很精彩~！",rows="{{addComment ? 3 : 1}}",ng-init="addComment = false",ng-focus="commentFocus()",maxlength="140",ng-model="replyContent")
          .i-reply-ctrl.clearfix(ng-show="addComment")
            .pull-left.i-reply-expand
              span(phiz="show",phiz-placement="lefttop",phiz-trigger="click",ng-class="{check:phizShow}",ng-click="togglePhiz();")
                i.fa.fa-smile-o
              span
                i.fa.fa-at
            .pull-right
              button.i-reply-submit.btn.btn-primary(ng-click="submit();") 评论
            .pull-right.i-reply-count
              span(ng-bind="replyContent|length")
              font /140