.u-layout
  .u-i-timeline
    dynamic(ng-repeat="timeItem in timeData",data="{{timeItem}}")
    .load-more
      a.u-i-timeline-load.btn.btn-default(ng-bind="loading",ng-click="loadDynamic();",ng-init="loadDynamic()",ng-disabled="noMore")
  .u-side
    .u-i-notes.i-box
      a.u-i-notes-edit(tooltip="编辑小黑板",tooltip-append-to-body="true",href="javascript:;")
        i.fa.fa-edit
      .i-box-title
        span 小黑板
      .i-box-body
        .u-black-wall(ng-bind="blackWall")
    .u-i-visitors.i-box
      .i-box-title 
        span 最近访客