.i-layout
  .u-header.i-box
    .u-header-background
      img(q-image='{{headerBackground}}',q-image-scope='spycdn')
    .u-header-info
      .u-header-face
        img.i-box(q-image='{{uid}}',q-image-style='big',q-image-scope='spyavatarcdn')
      .u-header-base
        .u-header-name
          span.u-nickname(ng-bind="userNickname")
          span.u-nickname-expand
          span.u-name(ng-bind="userName|nameFilter")
        .u-header-data
          span.u-sex 
            i.fa(ng-class="{true: 'fa-male', false: 'fa-female'}[userSex]")
          span.u-area
            i.fa.fa-map-marker
            span(ng-bind="userArea")
          span.u-star
            i.fa.fa-star
            span(ng-bind="userStar")
          span.u-graduation
            i.fa.fa-graduation-cap
            span(ng-bind="userGraduation")
          span.u-grade
            i.fa.fa-trophy
            span(ng-bind="userGrade")
        .u-header-maxim
          span(ng-bind="userMaxim")
      .u-follow(ng-show='followShow',ng-init='followShow = true')
        button.btn.btn-primary(ng-init='follow="+ 关注"',ng-mouseenter='followEnter()',ng-mouseleave='followLeave()',ng-click='followClick()') {{follow}}
    .u-header-nav
      a(ui-sref="user.index",ui-sref-active="active")
        span 主页
      a(ui-sref="user.album")
        span 相册
      a(ui-sref="user.friend")
        span 朋友
      a(ui-sref="user.gustbook")
        span 留言
      a(ui-sref="user.info")
        span 资料
  .u-section(ui-view='user')