.i-layout.register-main.clearfix
  .i-box.register-box
    .register-form
      .i-box-title.register-title 
        span 注册
      form.login-form
        .register-input.form-group.row
          label.col-sm-3.register-dt(for='username') 用户名
          .col-sm-9.register-dd
            input#username.form-control(type='text',ng-model='username',ng-class="{'bg-danger':usernameError}",ng-focus="usernameFocus();",ng-blur="usernameBlur();",placeholder="4-12位，字母+数字，字母开头",maxlength='12')
            label.register-tip(for='username',ng-bind="usernameError")
        .register-input.form-group.row
          label.col-sm-3.register-dt(for='email') 邮箱
          .col-sm-9.register-dd
            input#email.form-control(type='text',ng-model='email',ng-class="{'bg-danger':emailError}",ng-focus="emailFocus();",ng-blur="emailBlur();",placeholder="常用邮箱地址，如QQ、163等")
            label.register-tip(for='email',ng-bind="emailError")
        .register-input.form-group.row
          label.col-sm-3.register-dt(for='password') 密码
          .col-sm-9.register-dd
            input#password.form-control(type='password',ng-model='password',ng-class="{'bg-danger':passwordError}",ng-focus="passwordFocus();",ng-blur="passwordBlur();",placeholder="6-16位，任意字符",maxlength='16')
            label.register-tip(for='password',ng-bind="passwordError")
        .register-input.form-group.row
          label.col-sm-3.register-dt(for='repassword') 重复密码
          .col-sm-9.register-dd
            input#repassword.form-control(type='password',ng-model='repassword',ng-class="{'bg-danger':repasswordError}",ng-focus="repasswordFocus();",ng-blur="repasswordBlur();",placeholder="重复上面的密码")
            label.register-tip(for='repassword',ng-bind="repasswordError")
        .register-input.form-group.row
          label.col-sm-3.register-dt(for='pact') 用户协议
          .col-sm-9.register-dd.register-pact
            checkbox#pact(type='checkbox',ng-model='pact')
            label.register-pact(for='pact')
              a《贝壳社区用户管理规定》
        .register-input.form-group.clearfix
          button.btn.btn-primary.pull-right.i-submit(ng-disabled="progress",ng-click="registerSubmit();",ng-bind="btnVal")
    .register-wall.clearfix
      img(ng-src="{{img}}")