.i-box.i-login
  .login-header(ng-style='background')
    p.login-maxim(ng-bind='maxim')
    .login-banner
  .login-body
    .login-error.i-error(ng-show='error',ng-bind='error')
    form.row(novalidate)
      .col-sm-8
        .login-ipt.form-group
          input.form-control(ng-model='username',placeholder='UID/用户名/邮箱',type='text',required)
        .login-ipt.form-group
          input.form-control(ng-model='password',placeholder='用户密码',type='password')
        .login-ipt.form-group.clearfix
          a.login-forget(ui-sref='safe.forget') 忘记密码？
          button.btn.btn-primary.pull-right.i-submit(ng-disabled='progress',ng-click='login()',ng-bind='btnVal')
      .col-sm-4
        .row.social-list
          a.social-btn.paw(tooltip="使用百度账号登录")
            i.fa.fa-paw
          a.social-btn.qq(tooltip="使用QQ账号登录")
            i.fa.fa-qq
          a.social-btn.weixin(tooltip="使用微信账号登录")
            i.fa.fa-weixin
          p.login-tip 还没有贝壳账号？一分钟马上
            a(tooltip="注册账号",ui-sref="register") 注册一个