.emoji { background: url('../img/emoji.png') no-repeat top left; width: 24px; height: 24px; display: inline-block;vertical-align: -6px;margin-left: 5px;margin-right: 5px; }
.emoji.s_-1 { background-position: 0px 0px;  }
.emoji.s_thumbsdown { background-position: -25px 0px;  }
.emoji.s_1 { background-position: -50px 0px;  }
.emoji.s_thumbsup { background-position: -75px 0px;  }
.emoji.s_8ball { background-position: -100px 0px;  }
.emoji.s_100 { background-position: -125px 0px;  }
.emoji.s_1234 { background-position: -150px 0px;  }
.emoji.s_a { background-position: -175px 0px;  }
.emoji.s_ab { background-position: -200px 0px;  }
.emoji.s_abc { background-position: -225px 0px;  }
.emoji.s_abcd { background-position: -250px 0px;  }
.emoji.s_accept { background-position: -275px 0px;  }
.emoji.s_aerial_tramway { background-position: -300px 0px;  }
.emoji.s_airplane { background-position: -325px 0px;  }
.emoji.s_alarm_clock { background-position: -350px 0px;  }
.emoji.s_alien { background-position: -375px 0px;  }
.emoji.s_ambulance { background-position: -400px 0px;  }
.emoji.s_anchor { background-position: -425px 0px;  }
.emoji.s_angel { background-position: -450px 0px;  }
.emoji.s_anger { background-position: -475px 0px;  }
.emoji.s_angry { background-position: -500px 0px;  }
.emoji.s_anguished { background-position: -525px 0px;  }
.emoji.s_ant { background-position: -550px 0px;  }
.emoji.s_apple { background-position: -575px 0px;  }
.emoji.s_aquarius { background-position: -600px 0px;  }
.emoji.s_aries { background-position: -625px 0px;  }
.emoji.s_arrow_backward { background-position: -650px 0px;  }
.emoji.s_arrow_double_down { background-position: -675px 0px;  }
.emoji.s_arrow_double_up { background-position: -700px 0px;  }
.emoji.s_arrow_down_small { background-position: -725px 0px;  }
.emoji.s_arrow_down { background-position: -750px 0px;  }
.emoji.s_arrow_forward { background-position: -775px 0px;  }
.emoji.s_arrow_heading_down { background-position: -800px 0px;  }
.emoji.s_arrow_heading_up { background-position: -825px 0px;  }
.emoji.s_arrow_left { background-position: -850px 0px;  }
.emoji.s_arrow_lower_left { background-position: -875px 0px;  }
.emoji.s_arrow_lower_right { background-position: -900px 0px;  }
.emoji.s_arrow_right_hook { background-position: -925px 0px;  }
.emoji.s_arrow_right { background-position: -950px 0px;  }
.emoji.s_arrow_up_down { background-position: -975px 0px;  }
.emoji.s_arrow_up_small { background-position: -1000px 0px;  }
.emoji.s_arrow_up { background-position: -1025px 0px;  }
.emoji.s_arrow_upper_left { background-position: -1050px 0px;  }
.emoji.s_arrow_upper_right { background-position: -1075px 0px;  }
.emoji.s_arrows_clockwise { background-position: -1100px 0px;  }
.emoji.s_arrows_counterclockwise { background-position: -1125px 0px;  }
.emoji.s_art { background-position: -1150px 0px;  }
.emoji.s_articulated_lorry { background-position: -1175px 0px;  }
.emoji.s_astonished { background-position: -1200px 0px;  }
.emoji.s_athletic_shoe { background-position: -1225px 0px;  }
.emoji.s_atm { background-position: -1250px 0px;  }
.emoji.s_b { background-position: -1275px 0px;  }
.emoji.s_baby_bottle { background-position: -1300px 0px;  }
.emoji.s_baby_chick { background-position: -1325px 0px;  }
.emoji.s_baby_symbol { background-position: -1350px 0px;  }
.emoji.s_baby { background-position: -1375px 0px;  }
.emoji.s_back { background-position: -1400px 0px;  }
.emoji.s_baggage_claim { background-position: -1425px 0px;  }
.emoji.s_balloon { background-position: -1450px 0px;  }
.emoji.s_ballot_box_with_check { background-position: -1475px 0px;  }
.emoji.s_bamboo { background-position: -1500px 0px;  }
.emoji.s_banana { background-position: -1525px 0px;  }
.emoji.s_bangbang { background-position: -1550px 0px;  }
.emoji.s_bank { background-position: -1575px 0px;  }
.emoji.s_bar_chart { background-position: -1600px 0px;  }
.emoji.s_barber { background-position: -1625px 0px;  }
.emoji.s_baseball { background-position: -1650px 0px;  }
.emoji.s_basketball { background-position: -1675px 0px;  }
.emoji.s_bath { background-position: -1700px 0px;  }
.emoji.s_bathtub { background-position: -1725px 0px;  }
.emoji.s_battery { background-position: -1750px 0px;  }
.emoji.s_bear { background-position: -1775px 0px;  }
.emoji.s_honeybee { background-position: -1800px 0px;  }
.emoji.s_bee { background-position: -1825px 0px;  }
.emoji.s_beer { background-position: -1850px 0px;  }
.emoji.s_beers { background-position: -1875px 0px;  }
.emoji.s_beetle { background-position: -1900px 0px;  }
.emoji.s_beginner { background-position: -1925px 0px;  }
.emoji.s_bell { background-position: -1950px 0px;  }
.emoji.s_bento { background-position: -1975px 0px;  }
.emoji.s_bicyclist { background-position: -2000px 0px;  }
.emoji.s_bike { background-position: -2025px 0px;  }
.emoji.s_bikini { background-position: -2050px 0px;  }
.emoji.s_bird { background-position: -2075px 0px;  }
.emoji.s_birthday { background-position: -2100px 0px;  }
.emoji.s_black_circle { background-position: -2125px 0px;  }
.emoji.s_black_joker { background-position: -2150px 0px;  }
.emoji.s_black_large_square { background-position: -2175px 0px;  }
.emoji.s_black_medium_small_square { background-position: -2200px 0px;  }
.emoji.s_black_medium_square { background-position: -2225px 0px;  }
.emoji.s_black_nib { background-position: -2250px 0px;  }
.emoji.s_black_small_square { background-position: -2275px 0px;  }
.emoji.s_black_square_button { background-position: -2300px 0px;  }
.emoji.s_blossom { background-position: -2325px 0px;  }
.emoji.s_blowfish { background-position: -2350px 0px;  }
.emoji.s_blue_book { background-position: -2375px 0px;  }
.emoji.s_blue_car { background-position: -2400px 0px;  }
.emoji.s_blue_heart { background-position: -2425px 0px;  }
.emoji.s_blush { background-position: -2450px 0px;  }
.emoji.s_boar { background-position: -2475px 0px;  }
.emoji.s_sailboat { background-position: -2500px 0px;  }
.emoji.s_boat { background-position: -2525px 0px;  }
.emoji.s_bomb { background-position: -2550px 0px;  }
.emoji.s_book { background-position: -2575px 0px;  }
.emoji.s_open_book { background-position: -2600px 0px;  }
.emoji.s_bookmark_tabs { background-position: -2625px 0px;  }
.emoji.s_bookmark { background-position: -2650px 0px;  }
.emoji.s_books { background-position: -2675px 0px;  }
.emoji.s_boom { background-position: -2700px 0px;  }
.emoji.s_collision { background-position: -2725px 0px;  }
.emoji.s_boot { background-position: -2750px 0px;  }
.emoji.s_bouquet { background-position: -2775px 0px;  }
.emoji.s_bow { background-position: -2800px 0px;  }
.emoji.s_bowling { background-position: -2825px 0px;  }
.emoji.s_bowtie { background-position: -2850px 0px;  }
.emoji.s_boy { background-position: -2875px 0px;  }
.emoji.s_bread { background-position: -2900px 0px;  }
.emoji.s_bride_with_veil { background-position: -2925px 0px;  }
.emoji.s_bridge_at_night { background-position: -2950px 0px;  }
.emoji.s_briefcase { background-position: -2975px 0px;  }
.emoji.s_broken_heart { background-position: -3000px 0px;  }
.emoji.s_bug { background-position: -3025px 0px;  }
.emoji.s_bulb { background-position: -3050px 0px;  }
.emoji.s_bullettrain_front { background-position: -3075px 0px;  }
.emoji.s_bullettrain_side { background-position: -3100px 0px;  }
.emoji.s_bus { background-position: -3125px 0px;  }
.emoji.s_busstop { background-position: -3150px 0px;  }
.emoji.s_bust_in_silhouette { background-position: -3175px 0px;  }
.emoji.s_busts_in_silhouette { background-position: -3200px 0px;  }
.emoji.s_cactus { background-position: -3225px 0px;  }
.emoji.s_cake { background-position: -3250px 0px;  }
.emoji.s_calendar { background-position: -3275px 0px;  }
.emoji.s_calling { background-position: -3300px 0px;  }
.emoji.s_camel { background-position: -3325px 0px;  }
.emoji.s_camera { background-position: -3350px 0px;  }
.emoji.s_cancer { background-position: -3375px 0px;  }
.emoji.s_candy { background-position: -3400px 0px;  }
.emoji.s_capital_abcd { background-position: -3425px 0px;  }
.emoji.s_capricorn { background-position: -3450px 0px;  }
.emoji.s_red_car { background-position: -3475px 0px;  }
.emoji.s_car { background-position: -3500px 0px;  }
.emoji.s_card_index { background-position: -3525px 0px;  }
.emoji.s_carousel_horse { background-position: -3550px 0px;  }
.emoji.s_cat { background-position: -3575px 0px;  }
.emoji.s_cat2 { background-position: -3600px 0px;  }
.emoji.s_cd { background-position: -3625px 0px;  }
.emoji.s_chart_with_downwards_trend { background-position: -3650px 0px;  }
.emoji.s_chart_with_upwards_trend { background-position: -3675px 0px;  }
.emoji.s_chart { background-position: -3700px 0px;  }
.emoji.s_checkered_flag { background-position: -3725px 0px;  }
.emoji.s_cherries { background-position: -3750px 0px;  }
.emoji.s_cherry_blossom { background-position: -3775px 0px;  }
.emoji.s_chestnut { background-position: -3800px 0px;  }
.emoji.s_chicken { background-position: -3825px 0px;  }
.emoji.s_children_crossing { background-position: -3850px 0px;  }
.emoji.s_chocolate_bar { background-position: -3875px 0px;  }
.emoji.s_christmas_tree { background-position: -3900px 0px;  }
.emoji.s_church { background-position: -3925px 0px;  }
.emoji.s_cinema { background-position: -3950px 0px;  }
.emoji.s_circus_tent { background-position: -3975px 0px;  }
.emoji.s_city_sunrise { background-position: -4000px 0px;  }
.emoji.s_city_sunset { background-position: -4025px 0px;  }
.emoji.s_cl { background-position: -4050px 0px;  }
.emoji.s_clap { background-position: -4075px 0px;  }
.emoji.s_clapper { background-position: -4100px 0px;  }
.emoji.s_clipboard { background-position: -4125px 0px;  }
.emoji.s_clock1 { background-position: -4150px 0px;  }
.emoji.s_clock2 { background-position: -4175px 0px;  }
.emoji.s_clock3 { background-position: -4200px 0px;  }
.emoji.s_clock4 { background-position: -4225px 0px;  }
.emoji.s_clock5 { background-position: -4250px 0px;  }
.emoji.s_clock6 { background-position: -4275px 0px;  }
.emoji.s_clock7 { background-position: -4300px 0px;  }
.emoji.s_clock8 { background-position: -4325px 0px;  }
.emoji.s_clock9 { background-position: -4350px 0px;  }
.emoji.s_clock10 { background-position: -4375px 0px;  }
.emoji.s_clock11 { background-position: -4400px 0px;  }
.emoji.s_clock12 { background-position: -4425px 0px;  }
.emoji.s_clock130 { background-position: -4450px 0px;  }
.emoji.s_clock230 { background-position: -4475px 0px;  }
.emoji.s_clock330 { background-position: -4500px 0px;  }
.emoji.s_clock430 { background-position: -4525px 0px;  }
.emoji.s_clock530 { background-position: -4550px 0px;  }
.emoji.s_clock630 { background-position: -4575px 0px;  }
.emoji.s_clock730 { background-position: -4600px 0px;  }
.emoji.s_clock830 { background-position: -4625px 0px;  }
.emoji.s_clock930 { background-position: -4650px 0px;  }
.emoji.s_clock1030 { background-position: -4675px 0px;  }
.emoji.s_clock1130 { background-position: -4700px 0px;  }
.emoji.s_clock1230 { background-position: -4725px 0px;  }
.emoji.s_closed_book { background-position: -4750px 0px;  }
.emoji.s_closed_lock_with_key { background-position: -4775px 0px;  }
.emoji.s_closed_umbrella { background-position: -4800px 0px;  }
.emoji.s_cloud { background-position: -4825px 0px;  }
.emoji.s_clubs { background-position: -4850px 0px;  }
.emoji.s_cn { background-position: -4875px 0px;  }
.emoji.s_cocktail { background-position: -4900px 0px;  }
.emoji.s_coffee { background-position: -4925px 0px;  }
.emoji.s_cold_sweat { background-position: -4950px 0px;  }
.emoji.s_computer { background-position: -4975px 0px;  }
.emoji.s_confetti_ball { background-position: -5000px 0px;  }
.emoji.s_confounded { background-position: -5025px 0px;  }
.emoji.s_confused { background-position: -5050px 0px;  }
.emoji.s_congratulations { background-position: -5075px 0px;  }
.emoji.s_construction_worker { background-position: -5100px 0px;  }
.emoji.s_construction { background-position: -5125px 0px;  }
.emoji.s_convenience_store { background-position: -5150px 0px;  }
.emoji.s_cookie { background-position: -5175px 0px;  }
.emoji.s_cool { background-position: -5200px 0px;  }
.emoji.s_cop { background-position: -5225px 0px;  }
.emoji.s_copyright { background-position: -5250px 0px;  }
.emoji.s_corn { background-position: -5275px 0px;  }
.emoji.s_couple_with_heart { background-position: -5300px 0px;  }
.emoji.s_couple { background-position: -5325px 0px;  }
.emoji.s_couplekiss { background-position: -5350px 0px;  }
.emoji.s_cow { background-position: -5375px 0px;  }
.emoji.s_cow2 { background-position: -5400px 0px;  }
.emoji.s_credit_card { background-position: -5425px 0px;  }
.emoji.s_crescent_moon { background-position: -5450px 0px;  }
.emoji.s_crocodile { background-position: -5475px 0px;  }
.emoji.s_crossed_flags { background-position: -5500px 0px;  }
.emoji.s_crown { background-position: -5525px 0px;  }
.emoji.s_cry { background-position: -5550px 0px;  }
.emoji.s_crying_cat_face { background-position: -5575px 0px;  }
.emoji.s_crystal_ball { background-position: -5600px 0px;  }
.emoji.s_cupid { background-position: -5625px 0px;  }
.emoji.s_curly_loop { background-position: -5650px 0px;  }
.emoji.s_currency_exchange { background-position: -5675px 0px;  }
.emoji.s_curry { background-position: -5700px 0px;  }
.emoji.s_custard { background-position: -5725px 0px;  }
.emoji.s_customs { background-position: -5750px 0px;  }
.emoji.s_cyclone { background-position: -5775px 0px;  }
.emoji.s_dancer { background-position: -5800px 0px;  }
.emoji.s_dancers { background-position: -5825px 0px;  }
.emoji.s_dango { background-position: -5850px 0px;  }
.emoji.s_dart { background-position: -5875px 0px;  }
.emoji.s_dash { background-position: -5900px 0px;  }
.emoji.s_date { background-position: -5925px 0px;  }
.emoji.s_de { background-position: -5950px 0px;  }
.emoji.s_deciduous_tree { background-position: -5975px 0px;  }
.emoji.s_department_store { background-position: -6000px 0px;  }
.emoji.s_diamond_shape_with_a_dot_inside { background-position: -6025px 0px;  }
.emoji.s_diamonds { background-position: -6050px 0px;  }
.emoji.s_disappointed_relieved { background-position: -6075px 0px;  }
.emoji.s_disappointed { background-position: -6100px 0px;  }
.emoji.s_dizzy_face { background-position: -6125px 0px;  }
.emoji.s_dizzy { background-position: -6150px 0px;  }
.emoji.s_do_not_litter { background-position: -6175px 0px;  }
.emoji.s_dog { background-position: -6200px 0px;  }
.emoji.s_dog2 { background-position: -6225px 0px;  }
.emoji.s_dollar { background-position: -6250px 0px;  }
.emoji.s_dolls { background-position: -6275px 0px;  }
.emoji.s_dolphin { background-position: -6300px 0px;  }
.emoji.s_door { background-position: -6325px 0px;  }
.emoji.s_doughnut { background-position: -6350px 0px;  }
.emoji.s_dragon_face { background-position: -6375px 0px;  }
.emoji.s_dragon { background-position: -6400px 0px;  }
.emoji.s_dress { background-position: -6425px 0px;  }
.emoji.s_dromedary_camel { background-position: -6450px 0px;  }
.emoji.s_droplet { background-position: -6475px 0px;  }
.emoji.s_dvd { background-position: -6500px 0px;  }
.emoji.s_e-mail { background-position: -6525px 0px;  }
.emoji.s_ear_of_rice { background-position: -6550px 0px;  }
.emoji.s_ear { background-position: -6575px 0px;  }
.emoji.s_earth_africa { background-position: -6600px 0px;  }
.emoji.s_earth_americas { background-position: -6625px 0px;  }
.emoji.s_earth_asia { background-position: -6650px 0px;  }
.emoji.s_egg { background-position: -6675px 0px;  }
.emoji.s_eggplant { background-position: -6700px 0px;  }
.emoji.s_eight_pointed_black_star { background-position: -6725px 0px;  }
.emoji.s_eight_spoked_asterisk { background-position: -6750px 0px;  }
.emoji.s_eight { background-position: -6775px 0px;  }
.emoji.s_electric_plug { background-position: -6800px 0px;  }
.emoji.s_elephant { background-position: -6825px 0px;  }
.emoji.s_envelope { background-position: -6850px 0px;  }
.emoji.s_email { background-position: -6875px 0px;  }
.emoji.s_end { background-position: -6900px 0px;  }
.emoji.s_envelope_with_arrow { background-position: -6925px 0px;  }
.emoji.s_es { background-position: -6950px 0px;  }
.emoji.s_euro { background-position: -6975px 0px;  }
.emoji.s_european_castle { background-position: -7000px 0px;  }
.emoji.s_european_post_office { background-position: -7025px 0px;  }
.emoji.s_evergreen_tree { background-position: -7050px 0px;  }
.emoji.s_exclamation { background-position: -7075px 0px;  }
.emoji.s_heavy_exclamation_mark { background-position: -7100px 0px;  }
.emoji.s_expressionless { background-position: -7125px 0px;  }
.emoji.s_eyeglasses { background-position: -7150px 0px;  }
.emoji.s_eyes { background-position: -7175px 0px;  }
.emoji.s_punch { background-position: -7200px 0px;  }
.emoji.s_facepunch { background-position: -7225px 0px;  }
.emoji.s_factory { background-position: -7250px 0px;  }
.emoji.s_fallen_leaf { background-position: -7275px 0px;  }
.emoji.s_family { background-position: -7300px 0px;  }
.emoji.s_fast_forward { background-position: -7325px 0px;  }
.emoji.s_fax { background-position: -7350px 0px;  }
.emoji.s_fearful { background-position: -7375px 0px;  }
.emoji.s_feelsgood { background-position: -7400px 0px;  }
.emoji.s_paw_prints { background-position: -7425px 0px;  }
.emoji.s_feet { background-position: -7450px 0px;  }
.emoji.s_ferris_wheel { background-position: -7475px 0px;  }
.emoji.s_file_folder { background-position: -7500px 0px;  }
.emoji.s_finnadie { background-position: -7525px 0px;  }
.emoji.s_fire_engine { background-position: -7550px 0px;  }
.emoji.s_fire { background-position: -7575px 0px;  }
.emoji.s_fireworks { background-position: -7600px 0px;  }
.emoji.s_first_quarter_moon_with_face { background-position: -7625px 0px;  }
.emoji.s_first_quarter_moon { background-position: -7650px 0px;  }
.emoji.s_fish_cake { background-position: -7675px 0px;  }
.emoji.s_fish { background-position: -7700px 0px;  }
.emoji.s_fishing_pole_and_fish { background-position: -7725px 0px;  }
.emoji.s_fist { background-position: -7750px 0px;  }
.emoji.s_five { background-position: -7775px 0px;  }
.emoji.s_flags { background-position: -7800px 0px;  }
.emoji.s_flashlight { background-position: -7825px 0px;  }
.emoji.s_floppy_disk { background-position: -7850px 0px;  }
.emoji.s_flower_playing_cards { background-position: -7875px 0px;  }
.emoji.s_flushed { background-position: -7900px 0px;  }
.emoji.s_foggy { background-position: -7925px 0px;  }
.emoji.s_football { background-position: -7950px 0px;  }
.emoji.s_footprints { background-position: -7975px 0px;  }
.emoji.s_fork_and_knife { background-position: -8000px 0px;  }
.emoji.s_fountain { background-position: -8025px 0px;  }
.emoji.s_four_leaf_clover { background-position: -8050px 0px;  }
.emoji.s_four { background-position: -8075px 0px;  }
.emoji.s_fr { background-position: -8100px 0px;  }
.emoji.s_free { background-position: -8125px 0px;  }
.emoji.s_fried_shrimp { background-position: -8150px 0px;  }
.emoji.s_fries { background-position: -8175px 0px;  }
.emoji.s_frog { background-position: -8200px 0px;  }
.emoji.s_frowning { background-position: -8225px 0px;  }
.emoji.s_fuelpump { background-position: -8250px 0px;  }
.emoji.s_full_moon_with_face { background-position: -8275px 0px;  }
.emoji.s_full_moon { background-position: -8300px 0px;  }
.emoji.s_game_die { background-position: -8325px 0px;  }
.emoji.s_gb { background-position: -8350px 0px;  }
.emoji.s_uk { background-position: -8375px 0px;  }
.emoji.s_gem { background-position: -8400px 0px;  }
.emoji.s_gemini { background-position: -8425px 0px;  }
.emoji.s_ghost { background-position: -8450px 0px;  }
.emoji.s_gift_heart { background-position: -8475px 0px;  }
.emoji.s_gift { background-position: -8500px 0px;  }
.emoji.s_girl { background-position: -8525px 0px;  }
.emoji.s_globe_with_meridians { background-position: -8550px 0px;  }
.emoji.s_goat { background-position: -8575px 0px;  }
.emoji.s_goberserk { background-position: -8600px 0px;  }
.emoji.s_godmode { background-position: -8625px 0px;  }
.emoji.s_golf { background-position: -8650px 0px;  }
.emoji.s_grapes { background-position: -8675px 0px;  }
.emoji.s_green_apple { background-position: -8700px 0px;  }
.emoji.s_green_book { background-position: -8725px 0px;  }
.emoji.s_green_heart { background-position: -8750px 0px;  }
.emoji.s_grey_exclamation { background-position: -8775px 0px;  }
.emoji.s_grey_question { background-position: -8800px 0px;  }
.emoji.s_grimacing { background-position: -8825px 0px;  }
.emoji.s_grin { background-position: -8850px 0px;  }
.emoji.s_grinning { background-position: -8875px 0px;  }
.emoji.s_guardsman { background-position: -8900px 0px;  }
.emoji.s_guitar { background-position: -8925px 0px;  }
.emoji.s_gun { background-position: -8950px 0px;  }
.emoji.s_haircut { background-position: -8975px 0px;  }
.emoji.s_hamburger { background-position: -9000px 0px;  }
.emoji.s_hammer { background-position: -9025px 0px;  }
.emoji.s_hamster { background-position: -9050px 0px;  }
.emoji.s_hand { background-position: -9075px 0px;  }
.emoji.s_raised_hand { background-position: -9100px 0px;  }
.emoji.s_handbag { background-position: -9125px 0px;  }
.emoji.s_poop { background-position: -9150px 0px;  }
.emoji.s_hankey { background-position: -9175px 0px;  }
.emoji.s_shit { background-position: -9200px 0px;  }
.emoji.s_hash { background-position: -9225px 0px;  }
.emoji.s_hatched_chick { background-position: -9250px 0px;  }
.emoji.s_hatching_chick { background-position: -9275px 0px;  }
.emoji.s_headphones { background-position: -9300px 0px;  }
.emoji.s_hear_no_evil { background-position: -9325px 0px;  }
.emoji.s_heart_decoration { background-position: -9350px 0px;  }
.emoji.s_heart_eyes_cat { background-position: -9375px 0px;  }
.emoji.s_heart_eyes { background-position: -9400px 0px;  }
.emoji.s_heart { background-position: -9425px 0px;  }
.emoji.s_heartbeat { background-position: -9450px 0px;  }
.emoji.s_heartpulse { background-position: -9475px 0px;  }
.emoji.s_hearts { background-position: -9500px 0px;  }
.emoji.s_heavy_check_mark { background-position: -9525px 0px;  }
.emoji.s_heavy_division_sign { background-position: -9550px 0px;  }
.emoji.s_heavy_dollar_sign { background-position: -9575px 0px;  }
.emoji.s_heavy_minus_sign { background-position: -9600px 0px;  }
.emoji.s_heavy_multiplication_x { background-position: -9625px 0px;  }
.emoji.s_heavy_plus_sign { background-position: -9650px 0px;  }
.emoji.s_helicopter { background-position: -9675px 0px;  }
.emoji.s_herb { background-position: -9700px 0px;  }
.emoji.s_hibiscus { background-position: -9725px 0px;  }
.emoji.s_high_brightness { background-position: -9750px 0px;  }
.emoji.s_high_heel { background-position: -9775px 0px;  }
.emoji.s_hocho { background-position: -9800px 0px;  }
.emoji.s_honey_pot { background-position: -9825px 0px;  }
.emoji.s_horse_racing { background-position: -9850px 0px;  }
.emoji.s_horse { background-position: -9875px 0px;  }
.emoji.s_hospital { background-position: -9900px 0px;  }
.emoji.s_hotel { background-position: -9925px 0px;  }
.emoji.s_hotsprings { background-position: -9950px 0px;  }
.emoji.s_hourglass_flowing_sand { background-position: -9975px 0px;  }
.emoji.s_hourglass { background-position: -10000px 0px;  }
.emoji.s_house_with_garden { background-position: -10025px 0px;  }
.emoji.s_house { background-position: -10050px 0px;  }
.emoji.s_hurtrealbad { background-position: -10075px 0px;  }
.emoji.s_hushed { background-position: -10100px 0px;  }
.emoji.s_ice_cream { background-position: -10125px 0px;  }
.emoji.s_icecream { background-position: -10150px 0px;  }
.emoji.s_id { background-position: -10175px 0px;  }
.emoji.s_ideograph_advantage { background-position: -10200px 0px;  }
.emoji.s_imp { background-position: -10225px 0px;  }
.emoji.s_inbox_tray { background-position: -10250px 0px;  }
.emoji.s_incoming_envelope { background-position: -10275px 0px;  }
.emoji.s_information_desk_person { background-position: -10300px 0px;  }
.emoji.s_information_source { background-position: -10325px 0px;  }
.emoji.s_innocent { background-position: -10350px 0px;  }
.emoji.s_interrobang { background-position: -10375px 0px;  }
.emoji.s_iphone { background-position: -10400px 0px;  }
.emoji.s_it { background-position: -10425px 0px;  }
.emoji.s_lantern { background-position: -10450px 0px;  }
.emoji.s_izakaya_lantern { background-position: -10475px 0px;  }
.emoji.s_jack_o_lantern { background-position: -10500px 0px;  }
.emoji.s_japan { background-position: -10525px 0px;  }
.emoji.s_japanese_castle { background-position: -10550px 0px;  }
.emoji.s_japanese_goblin { background-position: -10575px 0px;  }
.emoji.s_japanese_ogre { background-position: -10600px 0px;  }
.emoji.s_jeans { background-position: -10625px 0px;  }
.emoji.s_joy_cat { background-position: -10650px 0px;  }
.emoji.s_joy { background-position: -10675px 0px;  }
.emoji.s_jp { background-position: -10700px 0px;  }
.emoji.s_key { background-position: -10725px 0px;  }
.emoji.s_keycap_ten { background-position: -10750px 0px;  }
.emoji.s_kimono { background-position: -10775px 0px;  }
.emoji.s_kiss { background-position: -10800px 0px;  }
.emoji.s_kissing_cat { background-position: -10825px 0px;  }
.emoji.s_kissing_closed_eyes { background-position: -10850px 0px;  }
.emoji.s_kissing_heart { background-position: -10875px 0px;  }
.emoji.s_kissing_smiling_eyes { background-position: -10900px 0px;  }
.emoji.s_kissing { background-position: -10925px 0px;  }
.emoji.s_koala { background-position: -10950px 0px;  }
.emoji.s_koko { background-position: -10975px 0px;  }
.emoji.s_kr { background-position: -11000px 0px;  }
.emoji.s_large_blue_circle { background-position: -11025px 0px;  }
.emoji.s_large_blue_diamond { background-position: -11050px 0px;  }
.emoji.s_large_orange_diamond { background-position: -11075px 0px;  }
.emoji.s_last_quarter_moon_with_face { background-position: -11100px 0px;  }
.emoji.s_last_quarter_moon { background-position: -11125px 0px;  }
.emoji.s_satisfied { background-position: -11150px 0px;  }
.emoji.s_laughing { background-position: -11175px 0px;  }
.emoji.s_leaves { background-position: -11200px 0px;  }
.emoji.s_ledger { background-position: -11225px 0px;  }
.emoji.s_left_luggage { background-position: -11250px 0px;  }
.emoji.s_left_right_arrow { background-position: -11275px 0px;  }
.emoji.s_leftwards_arrow_with_hook { background-position: -11300px 0px;  }
.emoji.s_lemon { background-position: -11325px 0px;  }
.emoji.s_leo { background-position: -11350px 0px;  }
.emoji.s_leopard { background-position: -11375px 0px;  }
.emoji.s_libra { background-position: -11400px 0px;  }
.emoji.s_light_rail { background-position: -11425px 0px;  }
.emoji.s_link { background-position: -11450px 0px;  }
.emoji.s_lips { background-position: -11475px 0px;  }
.emoji.s_lipstick { background-position: -11500px 0px;  }
.emoji.s_lock_with_ink_pen { background-position: -11525px 0px;  }
.emoji.s_lock { background-position: -11550px 0px;  }
.emoji.s_lollipop { background-position: -11575px 0px;  }
.emoji.s_loop { background-position: -11600px 0px;  }
.emoji.s_loudspeaker { background-position: -11625px 0px;  }
.emoji.s_love_hotel { background-position: -11650px 0px;  }
.emoji.s_love_letter { background-position: -11675px 0px;  }
.emoji.s_low_brightness { background-position: -11700px 0px;  }
.emoji.s_m { background-position: -11725px 0px;  }
.emoji.s_mag_right { background-position: -11750px 0px;  }
.emoji.s_mag { background-position: -11775px 0px;  }
.emoji.s_mahjong { background-position: -11800px 0px;  }
.emoji.s_mailbox_closed { background-position: -11825px 0px;  }
.emoji.s_mailbox_with_mail { background-position: -11850px 0px;  }
.emoji.s_mailbox_with_no_mail { background-position: -11875px 0px;  }
.emoji.s_mailbox { background-position: -11900px 0px;  }
.emoji.s_man_with_gua_pi_mao { background-position: -11925px 0px;  }
.emoji.s_man_with_turban { background-position: -11950px 0px;  }
.emoji.s_man { background-position: -11975px 0px;  }
.emoji.s_mans_shoe { background-position: -12000px 0px;  }
.emoji.s_shoe { background-position: -12025px 0px;  }
.emoji.s_maple_leaf { background-position: -12050px 0px;  }
.emoji.s_mask { background-position: -12075px 0px;  }
.emoji.s_massage { background-position: -12100px 0px;  }
.emoji.s_meat_on_bone { background-position: -12125px 0px;  }
.emoji.s_mega { background-position: -12150px 0px;  }
.emoji.s_melon { background-position: -12175px 0px;  }
.emoji.s_memo { background-position: -12200px 0px;  }
.emoji.s_pencil { background-position: -12225px 0px;  }
.emoji.s_mens { background-position: -12250px 0px;  }
.emoji.s_metal { background-position: -12275px 0px;  }
.emoji.s_metro { background-position: -12300px 0px;  }
.emoji.s_microphone { background-position: -12325px 0px;  }
.emoji.s_microscope { background-position: -12350px 0px;  }
.emoji.s_milky_way { background-position: -12375px 0px;  }
.emoji.s_minibus { background-position: -12400px 0px;  }
.emoji.s_minidisc { background-position: -12425px 0px;  }
.emoji.s_mobile_phone_off { background-position: -12450px 0px;  }
.emoji.s_money_with_wings { background-position: -12475px 0px;  }
.emoji.s_moneybag { background-position: -12500px 0px;  }
.emoji.s_monkey_face { background-position: -12525px 0px;  }
.emoji.s_monkey { background-position: -12550px 0px;  }
.emoji.s_monorail { background-position: -12575px 0px;  }
.emoji.s_moon { background-position: -12600px 0px;  }
.emoji.s_waxing_gibbous_moon { background-position: -12625px 0px;  }
.emoji.s_mortar_board { background-position: -12650px 0px;  }
.emoji.s_mount_fuji { background-position: -12675px 0px;  }
.emoji.s_mountain_bicyclist { background-position: -12700px 0px;  }
.emoji.s_mountain_cableway { background-position: -12725px 0px;  }
.emoji.s_mountain_railway { background-position: -12750px 0px;  }
.emoji.s_mouse { background-position: -12775px 0px;  }
.emoji.s_mouse2 { background-position: -12800px 0px;  }
.emoji.s_movie_camera { background-position: -12825px 0px;  }
.emoji.s_moyai { background-position: -12850px 0px;  }
.emoji.s_muscle { background-position: -12875px 0px;  }
.emoji.s_mushroom { background-position: -12900px 0px;  }
.emoji.s_musical_keyboard { background-position: -12925px 0px;  }
.emoji.s_musical_note { background-position: -12950px 0px;  }
.emoji.s_musical_score { background-position: -12975px 0px;  }
.emoji.s_mute { background-position: -13000px 0px;  }
.emoji.s_nail_care { background-position: -13025px 0px;  }
.emoji.s_name_badge { background-position: -13050px 0px;  }
.emoji.s_neckbeard { background-position: -13075px 0px;  }
.emoji.s_necktie { background-position: -13100px 0px;  }
.emoji.s_negative_squared_cross_mark { background-position: -13125px 0px;  }
.emoji.s_neutral_face { background-position: -13150px 0px;  }
.emoji.s_new_moon_with_face { background-position: -13175px 0px;  }
.emoji.s_new_moon { background-position: -13200px 0px;  }
.emoji.s_new { background-position: -13225px 0px;  }
.emoji.s_newspaper { background-position: -13250px 0px;  }
.emoji.s_ng { background-position: -13275px 0px;  }
.emoji.s_nine { background-position: -13300px 0px;  }
.emoji.s_no_bell { background-position: -13325px 0px;  }
.emoji.s_no_bicycles { background-position: -13350px 0px;  }
.emoji.s_no_entry_sign { background-position: -13375px 0px;  }
.emoji.s_no_entry { background-position: -13400px 0px;  }
.emoji.s_no_good { background-position: -13425px 0px;  }
.emoji.s_no_mobile_phones { background-position: -13450px 0px;  }
.emoji.s_no_mouth { background-position: -13475px 0px;  }
.emoji.s_no_pedestrians { background-position: -13500px 0px;  }
.emoji.s_no_smoking { background-position: -13525px 0px;  }
.emoji.s_non-potable_water { background-position: -13550px 0px;  }
.emoji.s_nose { background-position: -13575px 0px;  }
.emoji.s_notebook_with_decorative_cover { background-position: -13600px 0px;  }
.emoji.s_notebook { background-position: -13625px 0px;  }
.emoji.s_notes { background-position: -13650px 0px;  }
.emoji.s_nut_and_bolt { background-position: -13675px 0px;  }
.emoji.s_o { background-position: -13700px 0px;  }
.emoji.s_o2 { background-position: -13725px 0px;  }
.emoji.s_ocean { background-position: -13750px 0px;  }
.emoji.s_octocat { background-position: -13775px 0px;  }
.emoji.s_octopus { background-position: -13800px 0px;  }
.emoji.s_oden { background-position: -13825px 0px;  }
.emoji.s_office { background-position: -13850px 0px;  }
.emoji.s_ok_hand { background-position: -13875px 0px;  }
.emoji.s_ok_woman { background-position: -13900px 0px;  }
.emoji.s_ok { background-position: -13925px 0px;  }
.emoji.s_older_man { background-position: -13950px 0px;  }
.emoji.s_older_woman { background-position: -13975px 0px;  }
.emoji.s_on { background-position: -14000px 0px;  }
.emoji.s_oncoming_automobile { background-position: -14025px 0px;  }
.emoji.s_oncoming_bus { background-position: -14050px 0px;  }
.emoji.s_oncoming_police_car { background-position: -14075px 0px;  }
.emoji.s_oncoming_taxi { background-position: -14100px 0px;  }
.emoji.s_one { background-position: -14125px 0px;  }
.emoji.s_open_file_folder { background-position: -14150px 0px;  }
.emoji.s_open_hands { background-position: -14175px 0px;  }
.emoji.s_open_mouth { background-position: -14200px 0px;  }
.emoji.s_ophiuchus { background-position: -14225px 0px;  }
.emoji.s_orange_book { background-position: -14250px 0px;  }
.emoji.s_outbox_tray { background-position: -14275px 0px;  }
.emoji.s_ox { background-position: -14300px 0px;  }
.emoji.s_package { background-position: -14325px 0px;  }
.emoji.s_page_facing_up { background-position: -14350px 0px;  }
.emoji.s_page_with_curl { background-position: -14375px 0px;  }
.emoji.s_pager { background-position: -14400px 0px;  }
.emoji.s_palm_tree { background-position: -14425px 0px;  }
.emoji.s_panda_face { background-position: -14450px 0px;  }
.emoji.s_paperclip { background-position: -14475px 0px;  }
.emoji.s_parking { background-position: -14500px 0px;  }
.emoji.s_part_alternation_mark { background-position: -14525px 0px;  }
.emoji.s_partly_sunny { background-position: -14550px 0px;  }
.emoji.s_passport_control { background-position: -14575px 0px;  }
.emoji.s_peach { background-position: -14600px 0px;  }
.emoji.s_pear { background-position: -14625px 0px;  }
.emoji.s_pencil2 { background-position: -14650px 0px;  }
.emoji.s_penguin { background-position: -14675px 0px;  }
.emoji.s_pensive { background-position: -14700px 0px;  }
.emoji.s_performing_arts { background-position: -14725px 0px;  }
.emoji.s_persevere { background-position: -14750px 0px;  }
.emoji.s_person_frowning { background-position: -14775px 0px;  }
.emoji.s_person_with_blond_hair { background-position: -14800px 0px;  }
.emoji.s_person_with_pouting_face { background-position: -14825px 0px;  }
.emoji.s_telephone { background-position: -14850px 0px;  }
.emoji.s_phone { background-position: -14875px 0px;  }
.emoji.s_pig_nose { background-position: -14900px 0px;  }
.emoji.s_pig { background-position: -14925px 0px;  }
.emoji.s_pig2 { background-position: -14950px 0px;  }
.emoji.s_pill { background-position: -14975px 0px;  }
.emoji.s_pineapple { background-position: -15000px 0px;  }
.emoji.s_pisces { background-position: -15025px 0px;  }
.emoji.s_pizza { background-position: -15050px 0px;  }
.emoji.s_point_down { background-position: -15075px 0px;  }
.emoji.s_point_left { background-position: -15100px 0px;  }
.emoji.s_point_right { background-position: -15125px 0px;  }
.emoji.s_point_up_2 { background-position: -15150px 0px;  }
.emoji.s_point_up { background-position: -15175px 0px;  }
.emoji.s_police_car { background-position: -15200px 0px;  }
.emoji.s_poodle { background-position: -15225px 0px;  }
.emoji.s_post_office { background-position: -15250px 0px;  }
.emoji.s_postal_horn { background-position: -15275px 0px;  }
.emoji.s_postbox { background-position: -15300px 0px;  }
.emoji.s_potable_water { background-position: -15325px 0px;  }
.emoji.s_pouch { background-position: -15350px 0px;  }
.emoji.s_poultry_leg { background-position: -15375px 0px;  }
.emoji.s_pound { background-position: -15400px 0px;  }
.emoji.s_pouting_cat { background-position: -15425px 0px;  }
.emoji.s_pray { background-position: -15450px 0px;  }
.emoji.s_princess { background-position: -15475px 0px;  }
.emoji.s_purple_heart { background-position: -15500px 0px;  }
.emoji.s_purse { background-position: -15525px 0px;  }
.emoji.s_pushpin { background-position: -15550px 0px;  }
.emoji.s_put_litter_in_its_place { background-position: -15575px 0px;  }
.emoji.s_question { background-position: -15600px 0px;  }
.emoji.s_rabbit { background-position: -15625px 0px;  }
.emoji.s_rabbit2 { background-position: -15650px 0px;  }
.emoji.s_racehorse { background-position: -15675px 0px;  }
.emoji.s_radio_button { background-position: -15700px 0px;  }
.emoji.s_radio { background-position: -15725px 0px;  }
.emoji.s_rage { background-position: -15750px 0px;  }
.emoji.s_rage1 { background-position: -15775px 0px;  }
.emoji.s_rage2 { background-position: -15800px 0px;  }
.emoji.s_rage3 { background-position: -15825px 0px;  }
.emoji.s_rage4 { background-position: -15850px 0px;  }
.emoji.s_railway_car { background-position: -15875px 0px;  }
.emoji.s_train { background-position: -15900px 0px;  }
.emoji.s_rainbow { background-position: -15925px 0px;  }
.emoji.s_raised_hands { background-position: -15950px 0px;  }
.emoji.s_raising_hand { background-position: -15975px 0px;  }
.emoji.s_ram { background-position: -16000px 0px;  }
.emoji.s_ramen { background-position: -16025px 0px;  }
.emoji.s_rat { background-position: -16050px 0px;  }
.emoji.s_recycle { background-position: -16075px 0px;  }
.emoji.s_red_circle { background-position: -16100px 0px;  }
.emoji.s_registered { background-position: -16125px 0px;  }
.emoji.s_relaxed { background-position: -16150px 0px;  }
.emoji.s_relieved { background-position: -16175px 0px;  }
.emoji.s_repeat_one { background-position: -16200px 0px;  }
.emoji.s_repeat { background-position: -16225px 0px;  }
.emoji.s_restroom { background-position: -16250px 0px;  }
.emoji.s_revolving_hearts { background-position: -16275px 0px;  }
.emoji.s_rewind { background-position: -16300px 0px;  }
.emoji.s_ribbon { background-position: -16325px 0px;  }
.emoji.s_rice_ball { background-position: -16350px 0px;  }
.emoji.s_rice_cracker { background-position: -16375px 0px;  }
.emoji.s_rice_scene { background-position: -16400px 0px;  }
.emoji.s_rice { background-position: -16425px 0px;  }
.emoji.s_ring { background-position: -16450px 0px;  }
.emoji.s_rocket { background-position: -16475px 0px;  }
.emoji.s_roller_coaster { background-position: -16500px 0px;  }
.emoji.s_rooster { background-position: -16525px 0px;  }
.emoji.s_rose { background-position: -16550px 0px;  }
.emoji.s_rotating_light { background-position: -16575px 0px;  }
.emoji.s_round_pushpin { background-position: -16600px 0px;  }
.emoji.s_rowboat { background-position: -16625px 0px;  }
.emoji.s_ru { background-position: -16650px 0px;  }
.emoji.s_rugby_football { background-position: -16675px 0px;  }
.emoji.s_runner { background-position: -16700px 0px;  }
.emoji.s_running { background-position: -16725px 0px;  }
.emoji.s_running_shirt_with_sash { background-position: -16750px 0px;  }
.emoji.s_sa { background-position: -16775px 0px;  }
.emoji.s_sagittarius { background-position: -16800px 0px;  }
.emoji.s_sake { background-position: -16825px 0px;  }
.emoji.s_sandal { background-position: -16850px 0px;  }
.emoji.s_santa { background-position: -16875px 0px;  }
.emoji.s_satellite { background-position: -16900px 0px;  }
.emoji.s_saxophone { background-position: -16925px 0px;  }
.emoji.s_school_satchel { background-position: -16950px 0px;  }
.emoji.s_school { background-position: -16975px 0px;  }
.emoji.s_scissors { background-position: -17000px 0px;  }
.emoji.s_scorpius { background-position: -17025px 0px;  }
.emoji.s_scream_cat { background-position: -17050px 0px;  }
.emoji.s_scream { background-position: -17075px 0px;  }
.emoji.s_scroll { background-position: -17100px 0px;  }
.emoji.s_seat { background-position: -17125px 0px;  }
.emoji.s_secret { background-position: -17150px 0px;  }
.emoji.s_see_no_evil { background-position: -17175px 0px;  }
.emoji.s_seedling { background-position: -17200px 0px;  }
.emoji.s_seven { background-position: -17225px 0px;  }
.emoji.s_shaved_ice { background-position: -17250px 0px;  }
.emoji.s_sheep { background-position: -17275px 0px;  }
.emoji.s_shell { background-position: -17300px 0px;  }
.emoji.s_ship { background-position: -17325px 0px;  }
.emoji.s_squirrel { background-position: -17350px 0px;  }
.emoji.s_shipit { background-position: -17375px 0px;  }
.emoji.s_tshirt { background-position: -17400px 0px;  }
.emoji.s_shirt { background-position: -17425px 0px;  }
.emoji.s_shower { background-position: -17450px 0px;  }
.emoji.s_signal_strength { background-position: -17475px 0px;  }
.emoji.s_six_pointed_star { background-position: -17500px 0px;  }
.emoji.s_six { background-position: -17525px 0px;  }
.emoji.s_ski { background-position: -17550px 0px;  }
.emoji.s_skull { background-position: -17575px 0px;  }
.emoji.s_sleeping { background-position: -17600px 0px;  }
.emoji.s_sleepy { background-position: -17625px 0px;  }
.emoji.s_slot_machine { background-position: -17650px 0px;  }
.emoji.s_small_blue_diamond { background-position: -17675px 0px;  }
.emoji.s_small_orange_diamond { background-position: -17700px 0px;  }
.emoji.s_small_red_triangle_down { background-position: -17725px 0px;  }
.emoji.s_small_red_triangle { background-position: -17750px 0px;  }
.emoji.s_smile_cat { background-position: -17775px 0px;  }
.emoji.s_smile { background-position: -17800px 0px;  }
.emoji.s_smiley_cat { background-position: -17825px 0px;  }
.emoji.s_smiley { background-position: -17850px 0px;  }
.emoji.s_smiling_imp { background-position: -17875px 0px;  }
.emoji.s_smirk_cat { background-position: -17900px 0px;  }
.emoji.s_smirk { background-position: -17925px 0px;  }
.emoji.s_smoking { background-position: -17950px 0px;  }
.emoji.s_snail { background-position: -17975px 0px;  }
.emoji.s_snake { background-position: -18000px 0px;  }
.emoji.s_snowboarder { background-position: -18025px 0px;  }
.emoji.s_snowflake { background-position: -18050px 0px;  }
.emoji.s_snowman { background-position: -18075px 0px;  }
.emoji.s_sob { background-position: -18100px 0px;  }
.emoji.s_soccer { background-position: -18125px 0px;  }
.emoji.s_soon { background-position: -18150px 0px;  }
.emoji.s_sos { background-position: -18175px 0px;  }
.emoji.s_sound { background-position: -18200px 0px;  }
.emoji.s_space_invader { background-position: -18225px 0px;  }
.emoji.s_spades { background-position: -18250px 0px;  }
.emoji.s_spaghetti { background-position: -18275px 0px;  }
.emoji.s_sparkle { background-position: -18300px 0px;  }
.emoji.s_sparkler { background-position: -18325px 0px;  }
.emoji.s_sparkles { background-position: -18350px 0px;  }
.emoji.s_sparkling_heart { background-position: -18375px 0px;  }
.emoji.s_speak_no_evil { background-position: -18400px 0px;  }
.emoji.s_speaker { background-position: -18425px 0px;  }
.emoji.s_speech_balloon { background-position: -18450px 0px;  }
.emoji.s_speedboat { background-position: -18475px 0px;  }
.emoji.s_star { background-position: -18500px 0px;  }
.emoji.s_star2 { background-position: -18525px 0px;  }
.emoji.s_stars { background-position: -18550px 0px;  }
.emoji.s_station { background-position: -18575px 0px;  }
.emoji.s_statue_of_liberty { background-position: -18600px 0px;  }
.emoji.s_steam_locomotive { background-position: -18625px 0px;  }
.emoji.s_stew { background-position: -18650px 0px;  }
.emoji.s_straight_ruler { background-position: -18675px 0px;  }
.emoji.s_strawberry { background-position: -18700px 0px;  }
.emoji.s_stuck_out_tongue_closed_eyes { background-position: -18725px 0px;  }
.emoji.s_stuck_out_tongue_winking_eye { background-position: -18750px 0px;  }
.emoji.s_stuck_out_tongue { background-position: -18775px 0px;  }
.emoji.s_sun_with_face { background-position: -18800px 0px;  }
.emoji.s_sunflower { background-position: -18825px 0px;  }
.emoji.s_sunglasses { background-position: -18850px 0px;  }
.emoji.s_sunny { background-position: -18875px 0px;  }
.emoji.s_sunrise_over_mountains { background-position: -18900px 0px;  }
.emoji.s_sunrise { background-position: -18925px 0px;  }
.emoji.s_surfer { background-position: -18950px 0px;  }
.emoji.s_sushi { background-position: -18975px 0px;  }
.emoji.s_suspect { background-position: -19000px 0px;  }
.emoji.s_suspension_railway { background-position: -19025px 0px;  }
.emoji.s_sweat_drops { background-position: -19050px 0px;  }
.emoji.s_sweat_smile { background-position: -19075px 0px;  }
.emoji.s_sweat { background-position: -19100px 0px;  }
.emoji.s_sweet_potato { background-position: -19125px 0px;  }
.emoji.s_swimmer { background-position: -19150px 0px;  }
.emoji.s_symbols { background-position: -19175px 0px;  }
.emoji.s_syringe { background-position: -19200px 0px;  }
.emoji.s_tada { background-position: -19225px 0px;  }
.emoji.s_tanabata_tree { background-position: -19250px 0px;  }
.emoji.s_tangerine { background-position: -19275px 0px;  }
.emoji.s_taurus { background-position: -19300px 0px;  }
.emoji.s_taxi { background-position: -19325px 0px;  }
.emoji.s_tea { background-position: -19350px 0px;  }
.emoji.s_telephone_receiver { background-position: -19375px 0px;  }
.emoji.s_telescope { background-position: -19400px 0px;  }
.emoji.s_tennis { background-position: -19425px 0px;  }
.emoji.s_tent { background-position: -19450px 0px;  }
.emoji.s_thought_balloon { background-position: -19475px 0px;  }
.emoji.s_three { background-position: -19500px 0px;  }
.emoji.s_ticket { background-position: -19525px 0px;  }
.emoji.s_tiger { background-position: -19550px 0px;  }
.emoji.s_tiger2 { background-position: -19575px 0px;  }
.emoji.s_tired_face { background-position: -19600px 0px;  }
.emoji.s_tm { background-position: -19625px 0px;  }
.emoji.s_toilet { background-position: -19650px 0px;  }
.emoji.s_tokyo_tower { background-position: -19675px 0px;  }
.emoji.s_tomato { background-position: -19700px 0px;  }
.emoji.s_tongue { background-position: -19725px 0px;  }
.emoji.s_top { background-position: -19750px 0px;  }
.emoji.s_tophat { background-position: -19775px 0px;  }
.emoji.s_tractor { background-position: -19800px 0px;  }
.emoji.s_traffic_light { background-position: -19825px 0px;  }
.emoji.s_train2 { background-position: -19850px 0px;  }
.emoji.s_tram { background-position: -19875px 0px;  }
.emoji.s_triangular_flag_on_post { background-position: -19900px 0px;  }
.emoji.s_triangular_ruler { background-position: -19925px 0px;  }
.emoji.s_trident { background-position: -19950px 0px;  }
.emoji.s_triumph { background-position: -19975px 0px;  }
.emoji.s_trolleybus { background-position: -20000px 0px;  }
.emoji.s_trollface { background-position: -20025px 0px;  }
.emoji.s_trophy { background-position: -20050px 0px;  }
.emoji.s_tropical_drink { background-position: -20075px 0px;  }
.emoji.s_tropical_fish { background-position: -20100px 0px;  }
.emoji.s_truck { background-position: -20125px 0px;  }
.emoji.s_trumpet { background-position: -20150px 0px;  }
.emoji.s_tulip { background-position: -20175px 0px;  }
.emoji.s_turtle { background-position: -20200px 0px;  }
.emoji.s_tv { background-position: -20225px 0px;  }
.emoji.s_twisted_rightwards_arrows { background-position: -20250px 0px;  }
.emoji.s_two_hearts { background-position: -20275px 0px;  }
.emoji.s_two_men_holding_hands { background-position: -20300px 0px;  }
.emoji.s_two_women_holding_hands { background-position: -20325px 0px;  }
.emoji.s_two { background-position: -20350px 0px;  }
.emoji.s_u6e80 { background-position: -20375px 0px;  }
.emoji.s_u7a7a { background-position: -20400px 0px;  }
.emoji.s_u55b6 { background-position: -20425px 0px;  }
.emoji.s_u5272 { background-position: -20450px 0px;  }
.emoji.s_u5408 { background-position: -20475px 0px;  }
.emoji.s_u6307 { background-position: -20500px 0px;  }
.emoji.s_u6708 { background-position: -20525px 0px;  }
.emoji.s_u6709 { background-position: -20550px 0px;  }
.emoji.s_u7121 { background-position: -20575px 0px;  }
.emoji.s_u7533 { background-position: -20600px 0px;  }
.emoji.s_u7981 { background-position: -20625px 0px;  }
.emoji.s_umbrella { background-position: -20650px 0px;  }
.emoji.s_unamused { background-position: -20675px 0px;  }
.emoji.s_underage { background-position: -20700px 0px;  }
.emoji.s_unlock { background-position: -20725px 0px;  }
.emoji.s_up { background-position: -20750px 0px;  }
.emoji.s_us { background-position: -20775px 0px;  }
.emoji.s_v { background-position: -20800px 0px;  }
.emoji.s_vertical_traffic_light { background-position: -20825px 0px;  }
.emoji.s_vhs { background-position: -20850px 0px;  }
.emoji.s_vibration_mode { background-position: -20875px 0px;  }
.emoji.s_video_camera { background-position: -20900px 0px;  }
.emoji.s_video_game { background-position: -20925px 0px;  }
.emoji.s_violin { background-position: -20950px 0px;  }
.emoji.s_virgo { background-position: -20975px 0px;  }
.emoji.s_volcano { background-position: -21000px 0px;  }
.emoji.s_vs { background-position: -21025px 0px;  }
.emoji.s_walking { background-position: -21050px 0px;  }
.emoji.s_waning_crescent_moon { background-position: -21075px 0px;  }
.emoji.s_waning_gibbous_moon { background-position: -21100px 0px;  }
.emoji.s_warning { background-position: -21125px 0px;  }
.emoji.s_watch { background-position: -21150px 0px;  }
.emoji.s_water_buffalo { background-position: -21175px 0px;  }
.emoji.s_watermelon { background-position: -21200px 0px;  }
.emoji.s_wave { background-position: -21225px 0px;  }
.emoji.s_wavy_dash { background-position: -21250px 0px;  }
.emoji.s_waxing_crescent_moon { background-position: -21275px 0px;  }
.emoji.s_wc { background-position: -21300px 0px;  }
.emoji.s_weary { background-position: -21325px 0px;  }
.emoji.s_wedding { background-position: -21350px 0px;  }
.emoji.s_whale { background-position: -21375px 0px;  }
.emoji.s_whale2 { background-position: -21400px 0px;  }
.emoji.s_wheelchair { background-position: -21425px 0px;  }
.emoji.s_white_check_mark { background-position: -21450px 0px;  }
.emoji.s_white_circle { background-position: -21475px 0px;  }
.emoji.s_white_flower { background-position: -21500px 0px;  }
.emoji.s_white_large_square { background-position: -21525px 0px;  }
.emoji.s_white_medium_small_square { background-position: -21550px 0px;  }
.emoji.s_white_medium_square { background-position: -21575px 0px;  }
.emoji.s_white_small_square { background-position: -21600px 0px;  }
.emoji.s_white_square_button { background-position: -21625px 0px;  }
.emoji.s_wind_chime { background-position: -21650px 0px;  }
.emoji.s_wine_glass { background-position: -21675px 0px;  }
.emoji.s_wink { background-position: -21700px 0px;  }
.emoji.s_wolf { background-position: -21725px 0px;  }
.emoji.s_woman { background-position: -21750px 0px;  }
.emoji.s_womans_clothes { background-position: -21775px 0px;  }
.emoji.s_womans_hat { background-position: -21800px 0px;  }
.emoji.s_womens { background-position: -21825px 0px;  }
.emoji.s_worried { background-position: -21850px 0px;  }
.emoji.s_wrench { background-position: -21875px 0px;  }
.emoji.s_x { background-position: -21900px 0px;  }
.emoji.s_yellow_heart { background-position: -21925px 0px;  }
.emoji.s_yen { background-position: -21950px 0px;  }
.emoji.s_yum { background-position: -21975px 0px;  }
.emoji.s_zap { background-position: -22000px 0px;  }
.emoji.s_zero { background-position: -22025px 0px;  }
.emoji.s_zzz { background-position: -22050px 0px;  }
