/**
 * Spy Responsive Style
 * @author Abel i@iue.me 
 */

@media (max-width: 980px) and (min-width: 768px){
  .i-nav span{
    margin-right: 15px;
    margin-left: 15px;
  }

  .i-me-name{
    display: none;
  }

  .i-me-inner i.arrow{
    display: none;
  }

  .i-me-inner.has-logged{
    padding-right: 10px;
  }

  .i-me-avatar{
    margin-right: 0;
  }

  .i-me-inner .i-air{
    right: 5px;
  }
}