/**
 * Spy-ui System
 * @author Abel i@iue.me
 * @version 0.0.1
 */

.i-scope{
  font: 12px 'Microsoft Yahei';
  background-color: #F2F2F2;
  color: #555;
}

.i-section{
  padding-top: 42px;
}

.i-box{
  box-shadow: 0 0 2px rgba(0, 0, 0, .3);
  background-color: #FFF;
  border-radius: 2px;
}

.i-line{
  margin-left: 5px;
  padding-right: 5px;
  border-left: 1px solid rgba(255, 255, 255, .3);
  height: 9px;
  display: inline-block;
}

.i-layout{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  font: 12px 'Microsoft Yahei';
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  border:none;
  border-radius: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn:focus,
.btn:active:focus,
.btn.active:focus{
  outline: none;
}

.btn-default{
  text-shadow: 0 1px 0 #FFF;
  background-color: #F2F2F2;
  color: #555;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active{
  background-color: #E0E0E0;
}

.btn-primary {
  background-color: #5090f0;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open>.dropdown-toggle.btn-primary{
  background-color: #4080e0;
  border-color: rgba(0,0,0,.05);
}

.btn-danger{
  background-color: #f66;
}

.btn-danger:hover, 
.btn-danger:focus, 
.btn-danger:active, 
.btn-danger.active, 
.open>.dropdown-toggle.btn-danger {
  background-color: #f44;
  border-color: rgba(0,0,0,.05);
}

.dropdown-toggle{
  border-left: 1px solid rgba(0,0,0,.05);
}

.dropdown-menu{
  border-radius: 2px;
  border: none;
  font-size: 12px;
  -webkit-box-shadow: 0 2px 12px rgba(0,0,0,.175);
          box-shadow: 0 2px 12px rgba(0,0,0,.175);
}

.badge{
  margin: auto 5px;
  border-radius: 2px;
  font-weight: normal;
  background-color: #CCC;
}

.form-control{
  height: 33px;
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 2px;
  border: none;
  background-color: #dbf0fe;
}

.form-control:focus{
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.175);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.175);
  background-color: #cae9fd;
}

.bg-danger{
  background-color: rgb(254, 200, 204);
}

.bg-danger:focus{
  background-color: rgb(255, 192, 197);
}

.bg-danger::-moz-placeholder{
  color: rgba(255, 0, 0, .7);
}

.bg-danger::-webkit-input-placeholder{
  color: rgba(255, 0, 0, .7);
}

.glyphicon-ok{
  color: #555;
}

.toast-close-button{
  line-height: 1;
  font-size: 12px;
  font-weight: normal;
  color: #F2F2F2;
  right: -8px;
  top: -10px;
}

.toast-close-button:hover{
  color: #FFF;
  opacity: 1;
}

.toast-error{
  background-color: #f66;
}

.toast-info{
  background-color: #5090f0;
}

.toast-success{
  background-color: #449d44;
}

#toast-container > div{
  border-radius: 2px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
          box-shadow: 0 0 5px rgba(0,0,0,.3);
}

#toast-container > div:hover{
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,.5);
          box-shadow: 0 0 8px rgba(0,0,0,.5);
}

/**
 * iSpy 组件
 */
.i-move{
  cursor: move;
  -webkit-user-select: none;
          user-select: none;
}

.i-drift{
  position: fixed;
}

.i-transition{
  transition: all ease-in .3s;
  -o-transition: all ease-in .3s;
  -ms-transition: all ease-in .3s;
  -moz-transition: all ease-in .3s;
  -webkit-transition: all ease-in .3s;
}

.i-transition:hover{
  transition: none;
  -o-transition: none;
  -ms-transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

.progress{
  border-radius: 2px;
  background-color: rgba(24, 37, 48, 1);
}

.progress-bar{
  background-color: rgba(80, 144, 240, .8);
}

.ngdialog.ngdialog-theme-default .ngdialog-content{
  font-size: 12px;
  font-family: 'Microsoft Yahei';
  padding: 0;
  border-radius: 2px;
  width: 440px;
}

.tooltip-inner{
  border-radius: 2px;
}

.i-submit{
  min-width: 80px;
}

.form-group{
  position: relative;
}

.ipt-tip{
  position: absolute;
  right: 10px;
  top: 3px;
}

.i-box-title{
  padding-top: 15px;
  font-weight: bold;
}

.i-box-title span{
  border-left: 2px solid #5090F0;
  padding-left: 10px;
  font-size: 14px;
  line-height: 1;
  display: inline-block;
}

.i-box-body{
  padding: 10px;
}

.i-avatar{
  border-radius: 2px;
}

.i-avatar:hover{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .2);
}