.i-header{
  height: 42px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 94;
  background-color: #1B2230;
  background-color: rgba(27, 34, 48, .95);
  box-shadow: 0 1px 5px rgba(27, 34, 48, .5);
  border-bottom: 1px solid rgba(27, 34, 48, .92);
}

.i-header-inner{
  padding-left: 205px;
  position: relative;
}

.i-logo{
  position: absolute;
  top: 0;
  left: 10px;
  width: 180px;
  height: 36px;
  margin: 0;
  font-size: 1em;
}

.i-logo img{
  height: 32px;
  width: 100%;
  margin-top: 5px;
}

.i-nav{
  padding-left: 30px;
}

.i-nav span{
  height: 42px;
  line-height: 42px;
  margin-right: 20px;
  margin-left: 20px;
  display: inline-block;
  font-size: 14px;
  color: #DDD;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.i-nav span:hover{
  border-bottom-color: rgba(255, 255, 255, .9);
  color: #FFF;
}

.i-nav a.active span{
  border-bottom-color: rgba(80, 144, 240, 1);
  color: #FFF;
}

.i-me{
  text-align: right;
}

.i-me a{
  color: #DDD;
}

.i-me a:hover{
  color: #FFF;
}

.i-me-inner{
  line-height: 42px;
  display: inline-block;
  padding-left: 10px;
  transition: padding .3s ease-in .3s;
  -o-transition: padding .3s ease-in .3s;
  -ms-transition: padding .3s ease-in .3s;
  -moz-transition: padding .3s ease-in .3s;
  -webkit-transition: padding .3s ease-in .3s;
}

.i-me-inner i.arrow{
  color: #AAA;
  position: absolute;
  right: 10px;
  top: 15px;
}

.i-me-expand{
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  right: 0;
  top: 42px;
  background-color: rgba(10, 17, 32, 0);
  text-align: left;
  display: none;
  min-width: 240px;
}

.i-me-avatar{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #AAA;
  margin-right: 10px;
}

.i-me-inner.has-logged{
  padding-right: 30px;
  position: relative;
}

.i-me-inner.has-logged:hover{
  background-color: rgb(10, 17, 32);
}

.i-me-inner.has-logged.active i.arrow,
.i-me-inner.has-logged:hover i.arrow{
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
}

.i-me-inner.has-logged.active .i-me-expand,
.i-me-inner.has-logged:hover .i-me-expand{
  display: block;
  background-color: rgba(10, 17, 32, 1);
}

.i-me-item{
  padding: 5px 0;
  margin-bottom: 0;
}

.i-me-key{
  font-weight: normal;
  float: left;
  width: 60px;
  text-align: right;
  padding-right: 20px;
  color: #AAA;
}

.i-me-val{
  float: left;
  width: 160px;
  padding-right: 10px;
  margin-bottom: 0;
  color: #DDD;
  position: relative;
}

.i-me-val.full{
  width: 100%;
  background-color: rgba(24, 37, 48, 1);
  padding: 5px 0;
  text-align: center;
}

.i-me-val.full a{
  cursor: pointer;
  text-decoration: none;
  padding: 3px 8px;
  border-radius: 2px;
  position: relative;
  line-height: 1;
}

.i-me-val.full a:hover{
  text-decoration: none;
  color: #FFF;
  background-color: rgba(10, 17, 32, 1);
}

.i-me-val.full i{
  margin-right: 3px;
}

.i-me-val .sr-only{
  cursor: default;
  text-shadow: 0 0 2px rgba(0, 0, 0, .3);
  clip: auto;
  color: #DDD;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.i-me-val:hover .sr-only{
  display: block;
}


.u-header{
  height: 300px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.u-header-background{
  height: 200px;
}

.u-header-background img{
  height: 100%;
  width: 100%;
  position: relative;
}

.u-header-info{
  height: 65px; 
  position: relative;
  padding: 10px 150px 10px 220px;
}

.u-header-face{
  position: absolute;
  left: 20px;
  bottom: 10px;
  height: 180px;
  width: 180px;
}

.u-header-face img{
  width: 100%;
  height: 100%;
}

.u-header-nav{
  height: 35px;
  background-color: #F9F9F9;
  padding-left: 220px;
}

.u-header-name{
  position: absolute;
  left: 220px;
  top: -30px;
  text-shadow:0 0 2px rgb(255,255,255);
  z-index: 1;
}

.u-header-name span{
  margin-right: 5px;
}

.u-nickname{
  font-size: 20px;
}

.u-header-nav a{
  line-height: 33px;
  font-size: 14px;
  color: #555;
  margin-right: 35px;
  text-decoration: none;
}

.u-header-nav a span{
  display: inline-block;
  border-bottom: 2px solid rgba(0,0,0,0);
  transition: all ease-in .3s;
  -o-transition: all ease-in .3s;
  -ms-transition: all ease-in .3s;
  -moz-transition: all ease-in .3s;
  -webkit-transition: all ease-in .3s;
}

.u-header-nav a.active span{
  font-weight: bold;
  border-bottom-color: rgba(80,144,240,1)!important;
}

.u-header-nav a:hover span{
  border-bottom-color: rgba(0, 0, 0, .3);
  transition: none;
  -o-transition: none;
  -ms-transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

.u-header-data{
  line-height: 23px;
}

.u-header-data>span{
  color: #888;
  margin-right: 15px;
  display: inline-block;
}

.u-header-data .fa{
  margin-right: 3px;
  color: #AAA;
}

.u-header-maxim{
  line-height: 22px;
  position: relative;
}

.u-header-maxim span{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  border-radius: 2px;
  background-color: #F9F9F9;
  display: block;
  white-space:nowrap; 
  overflow:hidden; 
  text-overflow:ellipsis;
  color: #AAA;
  line-height: 22px;
  padding-left: 5px;
  padding-right: 5px;
}

.u-sex{
  margin-right: 5px!important;
}

.u-sex .fa-male,.ui-usercard-sex .fa-male{
  color: rgb(131, 166, 219)!important;
}

.u-sex .fa-female,.ui-usercard-sex .fa-female{
  color: #ed8a9b!important;
}

.u-follow{
  position: absolute;
  right: 20px;
  top: 0;
  line-height: 65px;
}

.u-follow button{
  width: 100px;
}

.login-header{
  height: 140px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  overflow: hidden;
  position: relative;
}

.login-maxim{
  position: absolute;
  bottom: 3px;
  left: 30px;
  color: #FFF;
  text-shadow: 0 0 2px rgba(0, 0, 0, .3);
}

.login-banner{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, .0), rgba(255, 255, 255, 1));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, .0), rgba(255, 255, 255, 1));
}

.login-body{
  padding: 10px 20px 10px;
}

.social-btn{
  font-size: 16px;
  color: #FFF;
  padding: 3px;
  display: inline-block;
  border-radius: 2px;
  line-height: 1;
  margin-right: 5px;
  height: 22px;
  width: 22px;
  text-align: center;
  cursor: pointer;
}

.social-btn:hover{
  color: #FFF;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.175);
}

.social-btn.paw{
  background-color: #5090F0;
}

.social-btn.qq{
  font-size: 14px;
  vertical-align: 2px;
  background-color: #F77;
}

.social-btn.weixin{
  background-color: #66CA3F;
}

.social-list{
  padding: 5px 0;
}

.login-tip{
  margin-top: 10px;
  line-height: 1.75em;
  color: #AAA;
}

.login-forget{
  color: #AAA;
  line-height: 28px;
}

.register-main{
  padding-top: 10px;
}

.register-box{
  padding: 20px;
  height: 400px;
  padding-right: 380px;
  position: relative;
}

.register-form{
  position: absolute;
  right: 20px;
  top: 20px;
  height: 360px;
  width: 360px;
}

.register-title{
  margin-bottom: 20px;
}

.register-pact{
  vertical-align: -2px;
  line-height: 35px;
}

.register-dd{
  position: relative;
}

.register-tip{
  color: rgba(255, 0, 0, .7);
  position: absolute;
  right: 20px;
  top: 10px;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-weight: normal;
  cursor: text;
}

.register-dt{
  text-align: right;
  line-height: 28px;
}

.u-i-timeline{
  margin-top: -10px;
  padding-top: 10px;
  min-height: 400px;
  border-left: 4px solid #e0e0e0;
  margin-left: 10px;
}

.u-i-tl-item{
  position: relative;
  padding-left: 20px;
  padding-bottom: 10px;
}

.u-i-tl-arrow,.u-i-tl-arrow-inner{
  border-right-style: solid;
  border-top: dashed transparent;
  border-bottom: dashed transparent;
  border-left: dashed transparent;
  position: absolute;
  left: 0px;
  top: 10px;
  border-right-color: #E0E0E0;
  border-width: 0px 20px 10px 0px;
}

.u-i-tl-arrow-inner{
  border-right-color: #FFF;
  left: 6px;
  top: 1px;
  border-right-width: 16px;
}

.u-i-tl-round{
  position: absolute;
  left: -8px;
  top: 6px;
  border-radius: 50%;
  background-color: #FFF;
  border:2px solid #CCC;
  height: 12px;
  width: 12px;
}

.u-i-tl-box{
  width: 100%;
  background-color: #FFF;
}

.u-i-tl-content{
  min-height: 100px;
  padding: 10px;
}

.u-i-tl-footer{
  background-color: #F9F9F9;
}

.u-i-tl-footer-ctrl{
  text-align: right;
  padding: 4px 0;
  padding-right: 10px;
}

.u-i-tl-footer-comments{
  border-top: 1px solid #e5e5e5;
}

.u-black-wall{
  text-indent: 2em;
  line-height: 2.5em;
}

.u-layout{
  padding-right: 310px;
  position: relative;
}

.u-side{
  position: absolute;
  right: 0;
  top: 10px;
  width: 300px;
}

.u-section{
  margin-top: 10px;
}

.u-i-notes{
  height: 140px;
  position: relative;
}

.u-i-notes-edit{
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #FFF;
  color: #AAA;
}

.u-i-notes-edit:hover{
  color: #555;
}

.u-i-visitors{
  height: 280px;
  margin-top: 10px;
}

.i-footer{
  margin-top: 100px;
  color: #AAA;
  margin-bottom: 40px;
}

.i-footer-line{
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
}

.i-footer a{
  text-shadow: 0 0 1px rgba(0, 0, 0, .1);
  color: #777;
  margin-right: 3px;
  margin-left: 3px;
}

.u-i-timeline{
  margin-top: -10px;
  padding-top: 10px;
  min-height: 400px;
  border-left: 4px solid #e0e0e0;
  margin-left: 10px;
}

.u-i-tl-footer-comments{
  border-top: 1px solid #e5e5e5;
}

.i-btn-item{
  cursor: pointer;
  display: inline-block;
  padding: 2px 8px;
  color: #AAA;
}

.i-btn-item span{
  margin-left: 5px;
}

.i-btn-item:hover{
  background-color: #E8E8E8;
  border-radius: 2px;
  color: #666;
}

.load-more{
  text-align: center;
}

.u-i-add-comment{
  padding: 5px 8px 8px;
}

.u-i-reply-ipt{
  overflow: hidden;
  resize: none;
  padding: 4px;
}

.i-reply-count span{
  font-size: 20px;
}

.i-reply-count{
  color: #AAA;
  line-height: 1;
  margin-right: 5px;
}

.i-reply-ctrl{
  margin-top: 10px;
}

.i-reply-expand span{
  width: 24px;
  height: 24px;
  font-size: 16px;
  color: #AAA;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  border-radius: 2px;
}

.i-reply-expand span:hover{
  background-color: #5090F0;
  color: #FFF;
}

.i-reply-submit{
  min-width: 80px;
}

#loading-bar .bar{
  background: #5090F0;
}

#loading-bar .peg{
  -moz-box-shadow: #5090F0 1px 0 6px 1px;
  -ms-box-shadow: #5090F0 1px 0 6px 1px;
  -webkit-box-shadow: #5090F0 1px 0 6px 1px;
  box-shadow: #5090F0 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon{
  border-top-color:  #5090F0;
  border-left-color: #5090F0;
}

.u-i-tl-head{
  padding: 10px 10px 0;
}

.u-i-tl-avatar img{
  height: 36px;
  width: 36px;
  border-radius: 2px;
  overflow: hidden;
}

.u-i-tl-info{
  padding-top: 2px;
  line-height: 17px;
  margin-left: 10px;
}

.u-i-tl-info p{
  margin-bottom: 0;
}

.u-i-tl-meta{
  color: #AAA;
}

.ui-mini-comment-avatar{

}

.ui-mini-comment-avatar img{
  height: 36px;
  width: 36px;
}

.ui-mini-comment{
  padding: 5px 10px;
}

.ui-mini-comment-content{
  margin-left: 10px;
}

.ui-mini-comment-date{
  color: #AAA;
}

.ui-mini-comment-stamp a{
  margin-left: 5px;
}

.ui-mini-comment-stamp{
  margin-top: 5px;
}

.ui-mini-comment-colon{
  margin: 0 5px;
}

.ui-comment-remove-btn{
  display: none;
}

.ui-mini-comment:hover .ui-comment-remove-btn{
  display: inline;
}